<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>About This Data</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/tvmayirp-overrides.css" rel="stylesheet">
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li  class="active"><a href="about">About This Data Set</a></li>
	          <li><a href="quality">Data Quality</a></li>
            <li><a href="references">References</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
	<h1>Accountability of the Data Set</h1>
        <p>WHO's Global Health Observatory (GHO) database contains data on various themes including- progress towards the Millenium Development Goals (the 8 MDGs), Health Systems (workforce data, financing data, etc.), Non-Communicable Diseases (Mortality/ Morbity, Health Risk Factors, Health System Response), Substance Use and Mental Health, Infectious Diseases, and Injuries and Violence. I concentrate on a dataset describing the <strong>Density of Health Workforce</strong> recorded across countries over the last three decades across different countries.</a></p>
      </div>

    
      <div class="page-header">
	<h2>Source of the Data</h2>
  <h3>Estimation</h3>
	<p>WHO compiles data on health workforce from four major sources:
  <ol>
    <li>population censuses</li>
    <li>labour force and employment surveys</li>
    <li>health facility assessments</li>
    <li>routine administrative information systems (including reports on public expenditure, staffing and payroll as well as professional training, registration and licensure)</li>
  </ol>
  Most of the data from administrative sources are derived from published national health sector reviews and/or official country reports to WHO offices In general, the denominator data for workforce density (i.e. national population estimates) are obtained from the United Nations Population Division's World Population Prospects database. <a href="references">[2]</a>
  </p>
  <h3>Goal of Dataset</h3>
  <p>
    To prepare the health workforce across different countries throughout the world to work towards the attainment of their country's health objectives represents one of the most important challenges for its health system. <a href="references">[1]</a>
  </p>
      </div>
      
      <div class="page-header">
	<h2>Access</h2>
	<p>Much of the WHO Data is publicly accessible. The GHO data repository contains an extensive list of indicators, which can be selected by theme or through a multi-dimension query functionality. It is the World Health Organization's main health statistics repository. <a href="references">[1]</a></p>
      </div>


    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.12.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>