<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Quality of This Data</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/tvmayirp-overrides.css" rel="stylesheet">
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="about">About This Data Set</a></li>
	          <li  class="active"><a href="quality">Data Quality</a></li>
            <li><a href="references">References</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
	<h1>Quality of the Data Set</h1>
        <p>In spite of being sourced from a centralized and highly accountable source i.e. the UN's Word Health Organisation, the data posed significant problems when assessed in terms of completeness, coherence and completeness. These problems arose mainly due to biases during the data collection and labeling phases. These can pose potential problems even prior to the Data Cleansing phase.</a></p>
      </div>

    
      <div class="page-header">
	<h2>Completeness</h2>
	<img class="summary-plots" src="images/Consolidated.png">
  <p>Figure 1 shows summarized data available over years for three primary categories within the health workforce-
    <ol>
      <li>Presence of Physicians per population of 1000 people</li>
      <li>Presence of Maternal Health and Midwifery Workforce per population of 1000 people</li>
      <li>Presence of Pharmaceutical Workforce per population of 1000 people</li>
    </ol>
    <strong>Missing Data:</strong> The black points indicate missing data.</p>
    <p>The data is largely incomplete in the following ways:
    <ul>
      <li><strong>Incomplete Years:</strong> The years for which health work-force counts are available are not homogenous. For example, Angola has data only for the years 1997, 2004 and 2007 while India has data recorded continuously over the years starting from 1991 - 2012. Surprisingly Afghanistan data is available from 2013 whereas the United States of America has data recorded only upto 2011.</li>
      <li><strong>Incomplete Health Worker Types:</strong> Many Health Worker Categories are incomplete in an obvious way, leading to sparse and meaningless data that cannot be used to draw any significant conclusions Eg: Laboratory Health Workers and Pharmaceutical Workers.</li>
    </ul>
  </p>
      </div>
      
      <div class="page-header">
	<h2>Coherence</h2>
	<p>Based on the summarized data for three primary categories within the health workforce, I built the following hypotheses in order to test coherence of the data-</p>
  <h3>Hypothesis 1: Since the density of physicians is related quality of healthcare available in a region, and the number of maternal health and midwifery is related to better  maternal and child healthcare in a region, hence, the densities of physicians and maternal health workforce must be correlated</h3>
  <img class="quality-hypothesis-plot" src="images/physician_vs_maternalhealth.png">
  <p>As seen in the figure 2.1, however, the two are only weakly correlated and have a significant number of outliers (in pink). The missing data points were assigned value -1 and is highlighted in red.</p>
  <h3>Hypothesis 2: Density of physicians and pharmaceutical workforce must be strongly correlated as both go hand in hand in contributing the quality of healthcare in a region</h3>
  <img class="quality-hypothesis-plot" src="images/physicians_vs_pharmaceuticals.png">
  <p>As seen in the figure 2.2, however, the two are not correlated and have a significant number of outliers (in pink). The missing data points were assigned value -1 and is highlighted in red.</p>
  <h3>Hypothesis 3: We may expect maternal health workforce to be correlated to the workforce within community healthcare, especially in the context of developing and under-developed nations</h3>
  <img class="quality-hypothesis-plot" src="images/maternal_vs_communityHealth.png">
  <p>As seen in the figure 2.3, however, the two are not correlated and have a significant number of outliers (in pink). The missing data points were assigned value -1 and is highlighted in red.</p>
      </div>

      <div class="page-header">
	<h2>Correctness</h2>
	<p>A lot of the data is an optimistic or pessimistic estimation applied on data such as headcounts at workplaces and occupational information gathered during censuses (skill level, training, certification, licensing). <a href="references">[2]</a>
    <ul>
      <li><strong>Overlapping Categories/Misclassification into workforce categories:</strong> Hence, the classification of health workforce categories, though elaborate, does not necessarily contain accurate numbers. For example, by definition and occupation, the community and traditional health workers may have largely overlapping roles with pharmaceutical and midwifery related workforce. The dataset however, records these as discrete types of workers and treats them mutually exclusive. It counts an individual under only one category and does not account for distinctions such as full-time and half-time.</li>
      <li><strong>False Negatives:</strong> Since the data is based off surveys and censuses that rely heavily on centralized authorization and work permit metrics and frameworks such as licensing and certification, many countries whose framework and conventions differ from the United Nations will be subject to having a large portion of the health workforce ignored. For example, Denmark has no records of pharmaceutical workers. This is definitely highly improbably and a possible result of the pharmaceutical workers having an overlapping role.</li>
      <li><strong>False Positives:</strong> Due to non-standard guidelines for categorization of workforce across different countries, many categories for some nations may have a falsely positive run-off from other categories. Eg: Many Community Health Workers being counted under Midwifery in several African/ Asian countries.</li>
    </ul></p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.12.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>