@import: 'tvmayirp-theme.less';


@navy-blue-dull: #37474f;
@light-blue-dull: #78909c;

@white: #ffffff;
@black: #000000;
@light-grey: #cacaca;
@dark-grey: #a0a0a0;
@darker-grey: #606060;

@red-highlight: #e06666;
@turquoise-highlight: #009c9c;



@headercolor: @navy-blue-dull;
@headerfocus: @light-blue-dull;
@headertext: @white;
@subtitletext: @light-grey;

@linktext: @headerfocus;
@activelinkbackground: @headertext;
@activelinktext: @turquoise-highlight;

@contenttext: @headercolor;
@bordernormal: @headercolor;
@borderdark: @dark-grey;


body	{
	color: @headerfocus;
	font-family: 'Oswald', sans-serif;
}
#outer-content	{
	width: 100%;
	padding-left: 30px;
	padding-right: 30px;
	position: absolute;
	top: 120px;

	
	#content-panel	{
		p, li, ul {
			font-family: 'Average', serif;
			color: @darker-grey;
		}

		.viz-graphics-content	{
			width: 100%;
			height: 500px;
			/*margin-bottom: 20px;*/
		}

		.viz-container	{
			width: 100%;
		}

		.input-control	{
			background-color: @black;
			padding: 10px;

			label {
				width:100%;
				font-weight: normal;

				.control-value	{
					color: @turquoise-highlight;
					font-size: 20px;
				}
			}

			.input-scale-gradations	{
				width: 100%;

				.scale-gradation	{
					display: inline-block;
					border-right: solid @light-grey 0.75px;
					height: 14px;
					font-family: 'Average', serif;
					text-align: right;
					color: @light-grey;
					padding: 10px;
				}

				.scale-gradation:first-of-type	{
					border-left: solid @light-grey 0.75px;
					text-align: left;
				}

			}
		}
	}

	h2	{
	}

	.experiment-block	{
		padding-bottom: 5px;
		border-bottom: solid @contenttext 1px;
	}

	h3	{
		color: @contenttext;
	}

	h5	{
		font-family: 'Oswald', sans-serif;
	}

	.motivation	{
		font-family: 'Average', serif;
		color: @contenttext;
	}
}

.project-header	{
	width: 100%;
	background-color: @headercolor;
	border-color: transparent;
}

.project-header.navbar{
	min-height: 40px;
}
.navbar-inverse.project-header .navbar-toggle	{
	border-color: transparent;
	margin: 2px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 7px;
	padding-right: 7px;
}
.navbar-inverse.project-header	{
	.navbar-toggle:focus, .navbar-toggle:hover, .icon-bar	{
		background-color: @headerfocus;

		.icon-bar	{
			background-color: @headercolor;
		}
	}

	.navbar-nav	{
		li>a	{
			padding-top: 5px;
			padding-bottom: 5px;
			margin-left: 2px;
			margin-right: 2px;
			color: @linktext;
		}

		li>a:focus,li>a:hover	{
			background-color: @headerfocus;
			color: @headertext;
		}

		.active>a, .active>a:focus, .active>a:hover	{
			background-color: @activelinkbackground;
			color: @activelinktext;
		}
	}

	.navbar-collapse, .navbar-form {
		border-color: @headerfocus;
		color: @headertext;
	}
}

a.navbar-brand	{
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 2px;
	margin-right: 2px;
	color: @linktext;
}

#content-panel .map-item	{
	display: inline-block;
	border: @borderdark 1px;
	padding-right: 10px;
}

h1	{
	color: @subtitletext;
	font-size: 20px;
	margin-bottom: 0px;
	margin-top: 5px;
	font-weight: normal;
}

.page-title h2	{
	font-family: 'Average', serif;
	color: @headertext;
	margin-bottom: 10px;
	margin-top: 10px;
}

h3	{
	font-size: 18px;
}

p.text-note	{
	font-size: 11px;
}

.item-label	{
	text-align: center;
	font-family: "Times";
	font-style: oblique;
}

.legend-panel	{
	text-align: center;
	color: @navy-blue-dull;

	table	{
		display: inline-table;
		margin-right: 20px;
	}
}

.legend-key	{
	padding-left: 10px;
	text-align: left;
	font-size: 11px;
}